[Unit]
Description=Run OMK data transformer every hour

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Persistent=true
AccuracySec=15s
Unit=omk-data-transformer.service

[Install]
WantedBy=timers.target
