menu "OMK Mesh Configuration"

config MESH_MAX_LAYER
    int "Mesh maximum layer"
    range 1 25
    default 6

config MESH_ROUTE_TABLE_SIZE
    int "Mesh route table size"
    range 1 300
    default 50

endmenu
